.Tilt{
	background: rgb(231,65,217);
	background: linear-gradient(90deg, rgba(231,65,217,1) 0%, rgba(165,38,197,1) 27%, rgba(30,156,191,1) 61%, rgba(0,212,255,1) 100%);
}
/*.photo{
  height: 1000px;
  width: 1000px;
}*/